<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="layout--main">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="main--create-page">
                <!-- FIRST COLUMN -->
                <div class="create__container--main">
                    <h1>Create Flashcard</h1>
                    <div class="create__container--sub">
                        <form th:action="@{/user-content/save-flashcard}" method="post" class="create__form">
                            <label for="front">Front</label>
                            <input type="text" id="front" name="front" />
                            <label for="back">Back</label>
                            <input type="text" id="back" name="back" />
                            <button class="button__bottom button__top" type="submit">Save</button>
                        </form>
                    </div>
                </div>

                <!-- SECOND COLUMN -->
            </main>
        </div>
    </body>
</html>
