<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="layout--main">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="main__layout">
                <!-- MAIN COLUMN -->
                <div class="main__container">
                    <div class="btn-container--borderless">
                        <a class="btn btn--borderless" href="/user-content/dashboard">
                            <div class="btn-container--icon">
                                <img class="btn__icon" src="/svg/left-arrow.svg" alt="Back Icon" />
                            </div>
                            <span class="btn__text fs-18 text-grey-175 text-bold">Back</span>
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div class="container container--grid">
                        <div class="row row--grid">
                            <div class="container width-134">
                                <div class="img-container">
                                    <img src="/images/dobby_chibby_half-removebg.png" alt="Flashcard Image" />
                                </div>
                            </div>
                            <div class="container ml-25">
                                <div class="column column--grid">
                                    <div class="column--grid__item">
                                        <h1>Deck Name 1</h1>
                                    </div>
                                    <div class="column--grid__item">
                                        <p>Description of deck, the user can write whatever they want</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="container">
                        <h3 class="text-blue-176">Create Deck</h3>
                    </div>

                    <div id="flashcards-container" class="container flex container--col gap-10">
                        <!-- Flashcards will be injected here by JavaScript -->
                    </div>
                </div>

                <!-- SECONDARY COLUMN -->
                <div class="secondary__container gap-25">
                    <div class="container container--panel container--col">
                        <h1 class="fs-24 mx-30 mb-16 text-grey-119 text-bold">Management</h1>

                        <!-- After: number input for selecting how many flashcards -->
                        <div class="btn-container--panel py-8 px-30 radius-12 flex">
                            <div class="contaienr">
                                <span class="btn__text fs-20 text-grey-75 text-bold">Number of cards:</span>
                            </div>
                            <div class="container ml-10">
                                <input
                                    class="p-0 bg-transparent fs-20 outline-0 text-bold text-center border-0 text-grey-75"
                                    type="number"
                                    id="numCards"
                                    max="30"
                                    value="4"
                                    min="1"
                                />
                            </div>
                        </div>

                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">View created cards</span>
                            </button>
                        </div>
                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">Quick view deck</span>
                            </button>
                        </div>

                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">Delete deck</span>
                            </button>
                        </div>
                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">Save as draft</span>
                            </button>
                        </div>
                    </div>

                    <div class="container container--panel container--col">
                        <h1 class="heading heading--panel">Decks</h1>
                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">DECK 1 EXAMPLE</span>
                            </button>
                        </div>
                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">DECK 31 EXAMPLE</span>
                            </button>
                        </div>
                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">SAMPLE DECK 3</span>
                            </button>
                        </div>

                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">EXAMPLE DECK 1</span>
                            </button>
                        </div>

                        <div class="btn-container--panel py-8 px-30 radius-12">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text fs-20 text-grey-75 text-bold">TEST DECK 1</span>
                            </button>
                        </div>
                    </div>

                    <div class="btn-container btn-container--bordered-grey btn-container--full-width">
                        <div class="btn__bottom btn__bottom--bordered-grey w-full h-46"></div>
                        <button class="btn__top btn__top--bordered-grey w-full h-46" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text text-blue-176 text-bold"> SAVE CHANGES </span>
                        </button>
                    </div>
                </div>
            </main>
        </div>
        <script src="/scripts/flashcard.js"></script>
    </body>
</html>
