<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="layout--main">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="main__layout">
                <!-- MAIN COLUMN -->
                <div class="main__container">
                    <div class="btn-container--borderless">
                        <a class="btn btn--borderless" href="/user-content/dashboard">
                            <div class="btn-container--icon">
                                <img class="btn__icon" src="/svg/left-arrow.svg" alt="Back Icon" />
                            </div>
                            <span class="btn__text text--fs-1-5 text--grey-175 text--bold">Back</span>
                        </a>
                    </div>
                    <div class="divider"></div>
                    <div class="container container--grid">
                        <div class="row row--grid">
                            <div class="container width-134">
                                <div class="img-container">
                                    <img src="/images/dobby_chibby_half-removebg.png" alt="Flashcard Image" />
                                </div>
                            </div>
                            <div class="container ml-25">
                                <div class="column column--grid">
                                    <div class="column--grid__item">
                                        <h1>Deck Name 1</h1>
                                    </div>
                                    <div class="column--grid__item">
                                        <p>Description of deck, the user can write whatever they want</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                </div>

                <!-- SECONDARY COLUMN -->
                <div class="secondary__container gap-25">
                    <div class="container container--panel container--col">
                        <h1 class="heading heading--panel">Management</h1>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">Number of cards: 4</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">View created cards</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">Quick view deck</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">Delete deck</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">Save as draft</span>
                            </button>
                        </div>
                    </div>

                    <div class="container container--panel container--col">
                        <h1 class="heading heading--panel">Decks</h1>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">DECK 1 EXAMPLE</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">DECK 31 EXAMPLE</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">SAMPLE DECK 3</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">EXAMPLE DECK 1</span>
                            </button>
                        </div>
                        <div class="btn-container--panel">
                            <button class="btn btn--panel" onclick="event.preventDefault();">
                                <span class="btn__text btn__text--md btn__text--darker-grey">TEST DECK 1</span>
                            </button>
                        </div>
                    </div>

                    <div class="btn-container btn-container--bordered-grey btn-container--full-width">
                        <div class="btn__bottom btn__bottom--bordered-grey btn__bottom--full-width"></div>
                        <button class="btn__top btn__top--bordered-grey btn__top--full-width" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text btn__text--blue-400"> SAVE CHANGES </span>
                        </button>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
