<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="grid-rows-auto container grid min-h-screen grid-cols-2">
            <div class="align-center bg-grey-244 container grid justify-center">
                <div class="align-center mb-180 container grid justify-center">
                    <img
                        class="w-350 object-fit-cover object-position-right"
                        src="/images/threadjump_grey.gif"
                        alt="Socslingo Logo"
                    />
                    <a href="/home" class="align-center container justify-center">
                        <span class="fs-56 -tracking-2 text-bold text-yellow-400">socslingo</span>
                    </a>
                </div>
            </div>

            <div class="align-center container grid grid-cols-3 justify-center bg-white">
                <div class="align-self-start m-15 col-3 container justify-self-end">
                    <div class="btn-container radius-parent-12 w-98 h-46 group">
                        <div class="btn__bottom bg-grey-229 group-hover:bg-grey-224 group-hover:border-grey-224"></div>

                        <button
                            class="btn__top border-grey-229 group-hover:bg-grey-250 group-hover:border-grey-224 border-2 bg-white"
                            type="button"
                            onclick="window.location.href='/register'"
                        >
                            <span class="btn__text text-bold text-yellow-100">SIGN UP</span>
                        </button>
                    </div>
                </div>

                <div class="align-center row-1 col-2 container mb-60 grid justify-center">
                    <h1 class="fs-24 text-bold text-grey-100 mb-20 text-center">Log In</h1>
                    <div class="w-330 container mb-10 flex-col">
                        <form class="container mb-10 flex-col gap-10" th:action="@{/login}" method="post">
                            <div class="container mb-10">
                                <input
                                    class="border-grey-229 radius-12 fs-16 text-grey-178 text-bold bg-grey-247 w-full border-2 p-10 outline-none"
                                    type="email"
                                    id="email"
                                    name="email"
                                    placeholder="Email"
                                />
                            </div>

                            <div class="container mb-10">
                                <input
                                    class="border-grey-229 radius-12 fs-16 text-grey-178 text-bold bg-grey-247 w-full border-2 p-10 outline-none"
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Password"
                                />
                            </div>
                        </form>

                        <div class="btn-container radius-parent-12 w-330 h-46 group">
                            <div class="btn__bottom bg-yellow-500 group-hover:bg-yellow-400"></div>
                            <button
                                class="btn__top bg-yellow-400 group-hover:bg-yellow-500"
                                type="submit"
                                onclick="event.preventDefault();"
                            >
                                <span class="fs-16 text-bold text-white">LOG IN</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
