<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="grid-cols-sidebar grid-rows-auto container grid">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="col-2 container grid justify-center align-center min-h-screen">
                <div class="container flex-row align-center">
                    
                    <div class="container">
                        CONTAINER 1
                    
                    </div>
                    <div class="container flex-col">
                        <div class="container">
                            ROW 1
                        </div>
                        <div class="container">
                            ROW 2
                        </div>
                        <div class="container">
                            ROW 3
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>

