<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="container grid grid-cols-sidebar grid-rows-auto">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="container grid grid-cols-main col-2 gap-50 py-24">
                <!-- MAIN COLUMN -->
                <div class="container w-630 flex-col col-2">
                    <div class="container border-2" style="height: 200px"> s </div>
                    <div class="container flex-col">
                        <h1>Taitranz</h1>
                        <h2>Tai Tran</h2>
                        <h3>Joined August 2024</h3>
                        <div class="container justify-between align-center flex-row">
                            <div class="container">
                                <div class="container"> Followers </div>
                                <div class="container"> Following </div>
                            </div>
                            <div class="container"> Flags </div>
                        </div>
                        <div class="divider"></div>
                        <div class="container flex-col">
                            <div class="container">
                                <h1>Statistics</h1>
                            </div>
                            <div class="container grid grid-cols-2-2 gap-10">
                                <div class="container border-2 radius-12 h-60">
                                    <h2>box1</h2>
                                </div>

                                <div class="container border-2 radius-12 h-60">
                                    <h2>box2</h2>
                                </div>
                                <div class="container border-2 radius-12 h-60">
                                    <h2>box3</h2>
                                </div>
                                <div class="container border-2 radius-12 h-60">
                                    <h2>box4</h2>
                                </div>
                            </div>
                        </div>

                        <div class="container flex-col">
                            <div class="container">
                                <h1>Achievements</h1>
                            </div>
                            <div class="container border-2 border-grey-229 radius-12 flex-col overflow-hidden border-b-except-last">
                                <div class="p-10">
                                    <h1>Achievement 1</h1>
                                </div>
                                <div class="p-10">
                                    <h1>Achievement 2</h1>
                                </div>
                                <div class="p-10">
                                    <h1>Achievement 3</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECONDARY COLUMN -->
                <div class="container w-340 flex-col col-3 gap-25">
                    <div class="container flex-col border-2 border-grey-229 py-24 px-16 radius-16">
                        <h1 class="fs-24 mx-30 mb-16 text-grey-119 font-bold">Management</h1>
                        <div class="container flex-col gap-4">
                            <div class="container hover:bg-grey-229 py-8 px-30 radius-12 h-40 cursor-pointer">
                                <button class="bg-transparent border-0 cursor-pointer">
                                    <span class="fs-20 text-grey-75 font-bold lh-24">Number of cards: 4</span>
                                </button>
                            </div>
                            <div class="container hover:bg-grey-229 py-8 px-30 radius-12 h-40 cursor-pointer">
                                <button class="bg-transparent border-0 cursor-pointer">
                                    <span class="fs-20 text-grey-75 font-bold lh-24">View created cards</span>
                                </button>
                            </div>
                            <div class="container hover:bg-grey-229 py-8 px-30 radius-12 h-40 cursor-pointer">
                                <button class="bg-transparent border-0 cursor-pointer">
                                    <span class="fs-20 text-grey-75 font-bold lh-24">Quick view deck</span>
                                </button>
                            </div>
                            <div class="container hover:bg-grey-229 py-8 px-30 radius-12 h-40 cursor-pointer">
                                <button class="bg-transparent border-0 cursor-pointer">
                                    <span class="fs-20 text-grey-75 font-bold lh-24">Delete deck</span>
                                </button>
                            </div>
                            <div class="container hover:bg-grey-229 py-8 px-30 radius-12 h-40 cursor-pointer">
                                <button class="bg-transparent border-0 cursor-pointer">
                                    <span class="fs-20 text-grey-75 font-bold lh-24">Save as draft</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
