<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="grid-cols-sidebar grid-rows-auto container grid">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="grid-cols-main col-2 gap-50 container grid py-24">
                <!-- MAIN COLUMN -->
                <div class="w-630 col-2 container flex-col">
                    <div class="container border-2" style="height: 200px">s</div>
                    <div class="container flex-col">
                        <h1>Taitranz</h1>
                        <h2>Tai Tran</h2>
                        <h3>Joined August 2024</h3>
                        <div class="align-center container flex-row justify-between">
                            <div class="container">
                                <div class="container">Followers</div>
                                <div class="container">Following</div>
                            </div>
                            <div class="container">Flags</div>
                        </div>
                        <div class="divider"></div>
                        <div class="container flex-col">
                            <div class="container">
                                <h1>Statistics</h1>
                            </div>
                            <div class="grid-cols-2-2 container grid gap-10">
                                <div class="radius-12 container h-60 border-2">
                                    <h2>box1</h2>
                                </div>

                                <div class="radius-12 container h-60 border-2">
                                    <h2>box2</h2>
                                </div>
                                <div class="radius-12 container h-60 border-2">
                                    <h2>box3</h2>
                                </div>
                                <div class="radius-12 container h-60 border-2">
                                    <h2>box4</h2>
                                </div>
                            </div>
                        </div>

                        <div class="container flex-col">
                            <div class="container">
                                <h1>Achievements</h1>
                            </div>
                            <div
                                class="border-grey-229 radius-12 border-b-except-last container flex-col overflow-hidden border-2"
                            >
                                <div class="p-10">
                                    <h1>Achievement 1</h1>
                                </div>
                                <div class="p-10">
                                    <h1>Achievement 2</h1>
                                </div>
                                <div class="p-10">
                                    <h1>Achievement 3</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECONDARY COLUMN -->
                <div class="w-340 col-3 gap-25 container flex-col">
                    <div class="border-grey-229 radius-16 container flex-col border-2 px-16 py-24">
                        <h1 class="fs-24 mx-30 text-grey-119 mb-16 font-bold">Management</h1>
                        <div class="container flex-col gap-4">
                            <div class="hover:bg-grey-229 px-30 radius-12 container h-40 cursor-pointer py-8">
                                <button class="cursor-pointer border-0 bg-transparent">
                                    <span class="fs-20 text-grey-75 lh-24 font-bold">Number of cards: 4</span>
                                </button>
                            </div>
                            <div class="hover:bg-grey-229 px-30 radius-12 container h-40 cursor-pointer py-8">
                                <button class="cursor-pointer border-0 bg-transparent">
                                    <span class="fs-20 text-grey-75 lh-24 font-bold">View created cards</span>
                                </button>
                            </div>
                            <div class="hover:bg-grey-229 px-30 radius-12 container h-40 cursor-pointer py-8">
                                <button class="cursor-pointer border-0 bg-transparent">
                                    <span class="fs-20 text-grey-75 lh-24 font-bold">Quick view deck</span>
                                </button>
                            </div>
                            <div class="hover:bg-grey-229 px-30 radius-12 container h-40 cursor-pointer py-8">
                                <button class="cursor-pointer border-0 bg-transparent">
                                    <span class="fs-20 text-grey-75 lh-24 font-bold">Delete deck</span>
                                </button>
                            </div>
                            <div class="hover:bg-grey-229 px-30 radius-12 container h-40 cursor-pointer py-8">
                                <button class="cursor-pointer border-0 bg-transparent">
                                    <span class="fs-20 text-grey-75 lh-24 font-bold">Save as draft</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </body>
</html>
