<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<nav th:fragment="nav" class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="/" class="socslingo">socslingo</a>
        </div>
        <div class="navigation-menu">
            <div class="sidebar-button learn">
                <a class="link" data-toggle="button">
                    <span class="content">
                        <div class="svg">
                            <img class="icon" src="/svg/learn2.svg" alt="Learn Icon">
                        </div>
                        <span >
                            LEARN
                        </span>
                    </span>
                </a>
            </div>
            <div class="sidebar-button home">
                <a class="link" data-toggle="button">
                    <span class="content">
                        <div class="svg">
                            <img class="icon" src="/svg/home.svg" alt="Home Icon">
                        </div>
                        <span>
                            HOME
                        </span>
                    </span>
                </a>
            </div>
            <div class="sidebar-button characters">
                <a class="link" data-toggle="button">
                    <span class="content">
                        <div class="svg">
                            <img class="icon" src="/svg/characters.svg" alt="Characters Icon">

                        </div>
                        <span>
                            CHARACTERS
                        </span>
                    </span>
                </a>
            </div>
            <div class="sidebar-button create">
                <a class="link" data-toggle="button">
                    <span class="content">
                        <div class="svg">
                            <img class="icon" src="/svg/create.svg" alt="Create Icon">
                        </div>
                        <span>
                            CREATE
                        </span>
                    </span>
                </a>
            </div>
        </div>
        <div class="sidebar-links bottom-links">
            <div class="sidebar-button settings">
                <a class="link" data-toggle="button">
                    <span class="content">
                        <div class="svg">
                            <img class="icon" src="/svg/create.svg" alt="Settings Icon">

                        </div>
                        <span>
                            SETTINGS
                        </span>
                    </span>
                </a>
            </div>
            <div class="sidebar-button more">
                <a class="link" data-toggle="button">
                    <span class="content">
                        <div class="svg">
                            <img class="icon" src="/svg/more.svg" alt="More Icon">

                        </div>
                        <span>
                            MORE
                        </span>
                    </span>
                </a>
            </div>
        </div>

    </div>
    </div>
</nav>

</html>