<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <nav th:fragment="nav" class="container grid fixed border-r-2 border-grey-239 px-16 w-256 min-h-screen">
        <div class="container flex-col box-content">
            <div class="mt-32 ml-16 mb-30 w-206 h-30 lh-25">
                <a href="/" class="font-din-round fs-30 no-underline text-yellow-400 text-bold">socslingo</a>
            </div>
            <div class="container flex-col">
                <div class="btn-container flex align-center h-52 mb-10">
                    <a
                        class="btn--sidebar flex py-4 px-8 h-52 w-222 radius-12 border-2 border-transparent bg-transparent hover:bg-grey-247 cursor-pointer"
                        data-toggle="button"
                    >
                        <span class="flex flex-row align-center">
                            <div class="h-32 mr-20">
                                <img class="h-32 ml-6" src="/svg/home.svg" />
                            </div>
                            <span class="btn__text--sidebar fs-16 font-bold text-grey-119">LEARN</span>
                        </span>
                    </a>
                </div>
                <div class="btn-container flex align-center h-52 mb-10">
                    <a
                        class="btn--sidebar flex py-4 px-8 h-52 w-222 radius-12 border-2 border-transparent bg-transparent hover:bg-grey-247 cursor-pointer"
                        data-toggle="button"
                        href="/characters"
                    >
                        <span class="flex flex-row align-center">
                            <div class="h-32 mr-20">
                                <img class="h-32 ml-6" src="/svg/characters.svg" />
                            </div>
                            <span class="btn__text--sidebar fs-16 font-bold text-grey-119">CHARACTERS</span>
                        </span>
                    </a>
                </div>

                <div class="btn-container flex align-center h-52 mb-10">
                    <a
                        class="btn--sidebar flex py-4 px-8 h-52 w-222 radius-12 border-2 border-transparent bg-transparent hover:bg-grey-247 cursor-pointer"
                        data-toggle="button"
                        href="/user-content/dashboard"
                    >
                        <span class="flex flex-row align-center">
                            <div class="h-32 mr-20">
                                <img class="h-32 ml-6" style="transform: scale(1.4)" src="/svg/create.svg" />
                            </div>
                            <span class="btn__text--sidebar fs-16 font-bold text-grey-119">CREATE</span>
                        </span>
                    </a>
                </div>
            </div>
            <div class="btn-container flex align-center h-52 mb-10">
                <a
                    class="btn--sidebar flex py-4 px-8 h-52 w-222 radius-12 border-2 border-transparent bg-transparent hover:bg-grey-247 cursor-pointer"
                    data-toggle="button"
                    href="/home"
                >
                    <span class="flex flex-row align-center">
                        <div class="h-32 mr-20">
                            <img class="h-32 ml-6" style="transform: scale(1.3)" src="/svg/blue-stopwatch.svg" />
                        </div>
                        <span class="btn__text--sidebar fs-16 font-bold text-grey-119">PRACTICE</span>
                    </span>
                </a>
            </div>
            <div class="container flex-col mt-auto mb-10">
                <div class="btn-container flex align-center h-52 mb-10">
                    <a
                        class="btn--sidebar flex py-4 px-8 h-52 w-222 radius-12 border-2 border-transparent bg-transparent hover:bg-grey-247 cursor-pointer"
                        data-toggle="button"
                        href="/profile"
                    >
                        <span class="flex flex-row align-center">
                            <div class="h-32 mr-20">
                                <div>
                                    <span>
                                        <div
                                            class="ml-6 border-2 border-grey-175 justify-center align-center align-center h-32 w-32 inline-flex radius-50 border-dashed text-grey-175 text-bold fs-1472"
                                        >
                                            T
                                        </div>
                                    </span>
                                </div>
                            </div>
                            <span class="btn__text--sidebar fs-16 font-bold text-grey-119">PROFILE</span>
                        </span>
                    </a>
                </div>
                <div class="btn-container flex align-center h-52 mb-10">
                    <a
                        class="btn--sidebar flex py-4 px-8 h-52 w-222 radius-12 border-2 border-transparent bg-transparent hover:bg-grey-247 cursor-pointer"
                        data-toggle="button"
                        href="/settings"
                    >
                        <span class="flex flex-row align-center">
                            <div class="h-32 mr-20">
                                <img class="h-32 ml-6" src="/svg/more.svg" />
                            </div>
                            <span class="btn__text--sidebar fs-16 font-bold text-grey-119">MORE</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</html>
