<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('404 - Page Not Found')}"></head>

    <body>
        <main class="flex-center-xy container grid min-h-screen">
            <div class="align-center max-w-800 container gap-32 text-left">
                <img src="/images/mascot.png" alt="Cute Mascot" class="w-350 h-auto" />
                <div class="align-start max-w-800 container flex-col">
                    <h1 class="mb-50 font-bold">ERROR 404</h1>
                    <p class="text-grey-75 fs-19 mb-25">
                        Sorry, the page you were looking for doesn't exist. Try going to
                        <a href="/" class="text-link">home</a>, or email us at
                        <a href="mailto:taitranz.ml@gmail.com" class="text-link">taitranz.ml@gmail.com</a>.
                    </p>

                    <div class="container">
                        <a href="/" class="fs-32 font-din-round text-yellow font-bold text-yellow-400">socslingo</a>
                    </div>
                    <div class="container">
                        <div id="curved-arrow"></div>
                        <div id="curved-arrow-text">click me</div>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>
