<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="grid-cols-sidebar grid-rows-auto container grid">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="grid-cols-main col-2 gap-50 container grid py-24">
                <div class="w-630 col-2 container flex-col">LEARN JP</div>
                <div class="w-340 col-3 gap-25 container flex-col">Test</div>
            </main>
        </div>
    </body>
</html>
`
