<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}">
</head>

<body>
    <div class="layout--main">
        <nav th:replace="~{fragments/nav :: nav}"></nav>
        <main class="main-content">
            <h1 style="font-family: 'Noto Sans JP', sans-serif; font-size: 3rem; text-align: center; margin-top: 5rem;">
                Learn JP
            </h1>
        </main>
    </div>
</body>

</html>