<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="container grid grid-cols-sidebar grid-rows-auto">
            <nav th:replace="~{fragments/nav :: nav}"></nav>
            <main class="container grid grid-cols-main col-2 gap-50 py-24">
                <div class="container w-630 flex-col col-2">

                    LEARN JP
                </div>
            </main>
        </div>
    </body>
</html>
`