<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}">
</head>

<body>
    <div class="split left">
        <div class="centered">
            <h1>socslingo</h1>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <h1>Login</h1>
            <form th:action="@{/login}" method="post">
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>

</html>