<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body>
        <div class="layout--authentication">
            <div class="layout__split--left">
                <div class="layout__content">
                    <img class="threadjump--grey" src="/images/threadjump_grey.gif" alt="Socslingo Logo" />

                    <a href="/home">
                        <span class="socslingo__logo--lg">socslingo</span>
                    </a>
                </div>
            </div>

            <div class="layout__split--right">
                <div class="layout__header">
                    <div class="btn-container btn-container--bordered-grey-10 w-98 h-46">
                        <div class="btn__bottom btn__bottom--bordered-grey"></div>
                        <button class="btn__top btn__top--bordered-grey" type="button" onclick="window.location.href='/login'">
                            <span class="btn__text text-yellow-100 text-bold">LOG IN</span>
                        </button>
                    </div>
                </div>

                <div class="layout__content">
                    <h1 class="fs-24 mb-20 text-center text-bold text-grey-100">Create your profile</h1>
                    <div class="container flex-col w-330 mb-10">
                        <form class="container flex-col gap-10 mb-10" th:action="@{/register}" method="post">
                            <div class="container">
                                <input class="authentication__input" type="text" id="username" name="username" placeholder="Username" />
                            </div>
                            <div class="container">
                                <input class="authentication__input" type="email" id="email" name="email" placeholder="Email" />
                            </div>
                            <div class="container">
                                <input class="authentication__input" type="password" id="password" name="password" placeholder="Password" />
                            </div>
                            <div class="container">
                                <input class="authentication__input" type="password" id="confirm-password" name="confirmPassword" placeholder="Confirm Password" />
                            </div>
                        </form>
                        <div class="btn-container btn-container--yellow-400 w-330 h-46">
                            <div class="btn__bottom btn__bottom--yellow-500"></div>
                            <button class="btn__top btn__top--yellow-400" type="submit">
                                <span class="btn__text text-white text-bold">REGISTER</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
