<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}">
</head>

<body>
    <div class="layout--main">
        <nav th:replace="~{fragments/nav :: nav}"></nav>
        <main class="main__layout">
            <!-- FIRST COLUMN -->
            <div class="main__container main__container--settings" style="grid-column: 2;">
                <h1 class="settings__title">Profile</h1>
                <h1 class="heading heading--md heading--grey-75">Avatar</h1>
                <div class="profile__avatar-container">
                    <img class="profile__avatar--setting" src="/images/profile.jpg" alt="Avatar">
                </div>
                <h1 class="heading heading--md heading--grey-75">Name</h1>
                <div class="form__field">
                    <input class="form__input" type="text" id="password" name="password" placeholder="Taitranz">
                </div>
                <h1 class="heading heading--md heading--grey-75">Username</h1>
                <div class="form__field">
                    <input class="form__input" type="text" id="password" name="password" placeholder="Taitranz">
                </div>
                <h1 class="heading heading--md heading--grey-75">Email</h1>
                <div class="form__field">
                    <input class="form__input" type="email" id="password" name="password"
                        placeholder="taitranz@ymail.com">
                </div>
                <h1 class="heading heading--md heading--grey-75">Current Password</h1>
                <div class="form__field">
                    <input class="form__input" type="password" id="password" name="password" placeholder="">
                </div>
                <h1 class="heading heading--md heading--grey-75">New Password</h1>
                <div class="form__field">
                    <input class="form__input" type="password" id="password" name="password" placeholder="">
                </div>
                <div class="btn-container btn__container--light-blue btn-container--sm">
                    <div class="btn__bottom btn__bottom--light-blue btn__bottom--sm"></div>
                    <button class="btn__top btn__top--light-blue btn__top--sm" type="submit"
                        onclick="event.preventDefault();">
                        <span class="btn__text btn__text--white">
                            SAVE CHANGES
                        </span>
                    </button>
                </div>
                <div class="btn-container">
                    <button class="btn--borderless" type="submit" onclick="event.preventDefault();">
                        <span class="btn__text btn__text--red">
                            DELETE MY ACCOUNT
                        </span>
                    </button>
                </div>
            </div>
            <!-- SECOND COLUMN -->
            <div class="secondary__container secondary__container--settings" style="grid-column: 3;">
                <div class="settings__panel">
                    <h1 class="settings__panel__heading">Account</h1>
                    <div class="btn-container--settings-panel">
                        <button class="btn--borderless" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text btn__text--md btn__text--darker-grey">
                                Perferences
                            </span>
                        </button>
                    </div>
                    <div class="btn-container--settings-panel">
                        <button class="btn--borderless" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text btn__text--md btn__text--darker-grey">
                                Profile
                            </span>
                        </button>
                    </div>
                    <div class="btn-container--settings-panel">
                        <button class="btn--borderless" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text btn__text--md btn__text--darker-grey">
                                Courses
                            </span>
                        </button>
                    </div>
                    <div class="btn-container--settings-panel">
                        <button class="btn--borderless" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text btn__text--md btn__text--darker-grey">
                                Social accounts
                            </span>
                        </button>
                    </div>
                    <div class="btn-container--settings-panel">
                        <button class="btn--borderless" type="submit" onclick="event.preventDefault();">
                            <span class="btn__text btn__text--md btn__text--darker-grey">
                                Privacy settings
                            </span>
                        </button>
                    </div>
                </div>
                <div class="btn-container btn-container--bordered-grey btn-container--full-width">
                    <div class="btn__bottom btn__bottom--bordered-grey btn__bottom--full-width"></div>
                    <button class="btn__top btn__top--bordered-grey btn__top--full-width" type="submit"
                        onclick="window.location.href='/login'">
                        <span class="btn__text btn__text--blue-400">
                            LOGOUT
                        </span>
                    </button>
                </div>
            </div>


        </main>
    </div>
</body>

</html>