<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragments/head :: head('Socslingo - The world\'s best way to learn Languages')}"></head>

    <body class="container flex min-h-screen flex-col">
        <main class="align-center p-30 container flex-grow flex-col">
            <div class="mb-4 flex w-full justify-end">
                <div class="btn-container radius-parent-12 w-98 h-46 group">
                    <div class="btn__bottom bg-grey-229 group-hover:bg-grey-224 group-hover:border-grey-224"></div>
                    <button
                        class="btn__top border-grey-229 group-hover:bg-grey-250 group-hover:border-grey-224 border-2 bg-white"
                        type="button"
                        onclick="window.location.href='/register'"
                    >
                        <span class="btn__text text-bold text-yellow-100">SIGN UP</span>
                    </button>
                </div>
            </div>
            <div class="flex flex-grow items-center justify-center">
                <div class="w-375 container flex-col gap-20">
                    <h1 class="fs-26 text-grey-60 text-center font-bold">Log In</h1>

                    <!-- Success Message -->
                    <div th:if="${message}" class="container mb-10">
                        <div
                            class="relative rounded border border-green-400 bg-green-100 px-4 py-3 text-green-700"
                            role="alert"
                        >
                            <span th:text="${message}"></span>
                        </div>
                    </div>

                    <form class="container flex-col gap-20" th:action="@{/login}" method="post">
                        <div class="container flex-col gap-8">                            <div class="container mb-10">
                                <input
                                    class="border-grey-229 bg-grey-247 text-grey-119 radius-12 fs-20 w-full border-2 p-10 outline-none"
                                    type="text"
                                    id="username"
                                    name="username"
                                    placeholder="Username or Email"
                                    th:value="${username}"
                                />
                            </div>
                            <div class="container mb-10">
                                <input
                                    class="border-grey-229 bg-grey-247 text-grey-119 radius-12 fs-20 w-full border-2 p-10 outline-none"
                                    type="password"
                                    id="password"
                                    name="password"
                                    placeholder="Password"
                                />
                            </div>

                            <!-- Error Message -->
                            <div th:if="${error}" class="mb-4 text-center font-bold text-red-500">
                                <span th:text="${error}"></span>
                            </div>

                            <div class="btn-container radius-parent-16 h-46 group mt-16 w-full">
                                <div class="btn__bottom bg-yellow-hsl-69 group-hover:bg-yellow-hsl-72"></div>
                                <button class="btn__top bg-yellow-hsl-76 group-hover:bg-yellow-hsl-80" type="submit">
                                    <span class="fs-16 text-bold text-white"> LOG IN </span>
                                </button>
                            </div>
                            <div class="container my-20 flex-row justify-center gap-10">
                                <div class="divider bg-grey-229 h-1 w-full"></div>
                                <div class="align-center container flex-row gap-10">
                                    <span class="fs-16 text-grey-178 text-bold">OR</span>
                                </div>
                                <div class="divider bg-grey-229 h-1 w-full"></div>
                            </div>
                            <div class="btn-container radius-parent-16 h-46 group w-full">
                                <div class="btn__bottom bg-grey-229 group-hover:bg-grey-206"></div>
                                <button
                                    class="btn__top border-grey-229 group-hover:bg-grey-229 group-hover:border-grey-206 border-2 bg-white"
                                    type="button"
                                >
                                    <span class="fs-16 text-blue-176 text-bold"> GOOGLE </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </main>
    </body>
</html>
