:root {
    --fs-19: 19px;
}

@font-face {
    font-family: "Meiryo";
    src: url("../fonts/MEIRYO/Meiryo-Bold.ttf");
}

@font-face {
    font-family: "din-round";
    src: url("../fonts/DIN_NEW/DIN-ROUND.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "din-round";
    src: url("../fonts/DIN_NEW/DIN-ROUND-BOLD.woff2");
    font-weight: bold;
}

.text {
    font-family: "din-round";

    font-size: 16px;
}

.text--meiryo {
    font-family: "Meiryo";
}
