:root {
    --fs-19: 19px;
}

@font-face {
    font-family: "Meiryo";
    src: url("../fonts/MEIRYO/Meiryo-Bold.ttf");
}

@font-face {
    font-family: "din-round";
    src: url("../fonts/DIN_NEW/DIN-ROUND.woff2");
    font-weight: normal;
}

@font-face {
    font-family: "din-round";
    src: url("../fonts/DIN_NEW/DIN-ROUND-BOLD.woff2");
    font-weight: bold;
}

.text {
    font-family: "din-round";

    font-size: 16px;
}

.text--meiryo {
    font-family: "Meiryo";
}

.socslingo--sidebar {
    font-family: "din-round";
    font-weight: 700;
    font-size: 32px;
    color: rgb(255, 198, 92);
    text-decoration: none;
}

.logo .socslingo {
    font-family: "din-round";
    font-weight: 700;
    font-size: 29px;
    color: rgb(255, 198, 92);
    text-decoration: none;
}

.sidebar .sidebar-wrapper .sidebar-button {
    font-family: "din-round";
    font-weight: 700;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    transition: none;
}

.socslingo__logo--lg {
    font-family: "din-round";
    font-weight: 700;
    font-size: 56px;
    color: rgb(255, 198, 92);
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
}

.authentication__title {
    font-family: "din-round";
    font-weight: 700;
    font-size: 24px;
    margin: 0 0 20px 0;
    text-align: center;
    color: rgb(60, 60, 60);
}

.settings__title {
    font-family: "din-round";
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    color: rgb(75, 75, 75);
    margin: 0;
}

.settings__heading {
    font-family: "din-round";
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: rgb(75, 75, 75);
    margin: 0;
}

.settings__panel__heading {
    font-family: "din-round";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgb(119, 119, 119);
    margin: 0 30px 16px 30px;
}
