@font-face {
    font-family: 'DINRoundPro-Bold';
    src: url('../fonts/DIN_ROUND/ff-din-round-bold.otf');
}

@font-face {
    font-family: 'DINRoundPro';
    src: url('../fonts/DIN_ROUND/ff-din-round-regular.otf');
}

@font-face {
    font-family: 'DINRoundPro-Medi';
    src: url('../fonts/DIN_ROUND/ff-din-round-medium.otf');
}

@font-face {
    font-family: 'DINRoundPro-Light';
    src: url('../fonts/DIN_ROUND/ff-din-round-light.otf');
}

@font-face {
    font-family: 'DINRoundPro-Black';
    src: url('../fonts/DIN_ROUND/ff-din-round-black.otf');
}

@font-face {
    font-family: 'DINNextW10-Heavy';
    src: url('../fonts/DIN_NEXT_W10/DINNextW10Heavy.ttf');
}

@font-face {
    font-family: 'DINNextW10-Bold';
    src: url('../fonts/DIN_NEXT_W10/DINNextW10Bold.ttf');
}

@font-face {
    font-family: 'Meiryo';
    src: url('../fonts/Meiryo-Bold.ttf');
}


.logo .socslingo {
    font-family: 'DINRoundPro-Black';
    font-size: 29px;
    color: rgb(255, 198, 92);
    text-decoration: none;
}

.sidebar .sidebar-wrapper .sidebar-button {
    font-family: 'DINRoundPro-Bold';
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: .8px;
    text-transform: uppercase;
    transition: none;

}