.layout--main {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
}

.layout--authentication {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1;

}

.main__layout {
    display: grid;
    grid-template-columns: 1fr 2fr 1.25fr 1fr;
    grid-column: 2;
    gap: 50px;
    padding-top: 24px;


}

.main__container {

    grid-column: 2;
    width: 630px;
    display: flex;
    flex-direction: column;
    padding-top: 24px;
}

.main__container--settings{
    gap: 16px;
}
.secondary__container {
    grid-column: 3;

    width: 340px;
    display: flex;
    flex-direction: column;

}

.secondary__container--settings {
    gap: 16px;
}
.main--create-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2;
    gap: 50px;

    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.create__container--main {
    grid-column: 1;
    height: 100%;

    border: 2px solid rgb(238, 238, 238);
    border-radius: 12px;
}



.layout__header {
    grid-column: 3;

    justify-self: end;

    align-self: start;

    margin: 15px;
}

.layout__content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout__split--left {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);

}

.layout__split--right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.layout__split--left .layout__content {
    margin-bottom: 100px;
}

.layout__split--right .layout__content {
    margin-bottom: 60px;
    grid-column: 2;
    grid-row: 1;


}