.layout {
    display: flex;
    min-height: 100vh;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    top: 0;
}

.left {
    left: 0;
    background-color: rgb(244, 244, 244);
}

.right {
    right: 0;
    background-color: rgb(255, 255, 255);   
}

.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
}