.layout--main {
    display: grid;
    grid-template-columns: 256px 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
}

.layout--authentication {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    min-height: 100vh;
}

nav {
    grid-column: 1 / 2;
    grid-row: 1;

}

.main__settings {
    display: grid;
    grid-template-columns: 1fr 2.5fr 1.5fr 1fr;
    grid-column: 2;
    gap: 50px;
    padding-top: 24px;


}


.main--create-page {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 2;
    gap: 50px;

    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 4rem;
    padding-right: 4rem;
}

.create__container--main {
    grid-column: 1;
    height: 100%;

    border: 2px solid rgb(238, 238, 238);
    border-radius: 12px;
}

.settings__container--first {
    gap: 16px;
    display: flex;
    flex-direction: column;

}

.settings__container--second {
    gap: 16px;
    display: flex;
    flex-direction: column;

}




.layout__header {
    grid-column: 3;

    justify-self: end;

    align-self: start;

    margin: 15px;
}

.layout__content {
    display: grid;
    justify-content: center;
    align-items: center;
}

.layout__split--left {
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 244, 244);

}

.layout__split--right {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.layout__split--left .layout__content {
    margin-bottom: 100px;
}

.layout__split--right .layout__content {
    margin-bottom: 60px;
    grid-column: 2;
    grid-row: 1;


}