.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding-top: 20px;
    border-right: 2px solid rgb(239, 239, 239);

}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;

}

.logo {
    padding: 0 15px;
    margin-bottom: 30px;
}



.sidebar-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-links li {
    padding: 10px 15px;
}

.sidebar-links li a {
    font-size: 18px;
    color: rgb(50, 50, 50);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar-links li a:hover {
    color: #ddd;
}