.sidebar {
    height: 100vh;
    width: 222px;
    padding-left: 16px;
    padding-right: 16px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-right: 2px solid rgb(239, 239, 239);
    display: flex;
    flex-direction: column;

}

.navigation-menu {
    display: flex;
    flex-direction: column;
}

.sidebar-wrapper {
    box-sizing: content-box;
    display: flex;
    flex-direction: column;

    padding-bottom: 20px;
    height: 100%;
}

.logo {

    height: 30px;
    padding: 32px 0 30px 16px;
    width: 206px;
    line-height: 25px;

}


.sidebar-button {

    cursor: pointer;
    margin-bottom: 10px;
    height: 52px;
    width: 222px;
}

.sidebar-button .link {
    height: 52px;
    width: 222px;
    background-color: transparent;
    text-decoration: none;
}

.sidebar-button .link .content {
    display: flex;
    align-items: center;
    height: 40px;
    width: 202px;

    border: 2px solid transparent;

    font-size: 18px;
    color: rgb(50, 50, 50);
    text-decoration: none;
    border-radius: 12px;

    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;

}

.sidebar-button a span {
    display: flex;
    align-items: center;
}

.sidebar-button .content:hover {
    background-color: rgb(238, 238, 238);
}

.sidebar-button .content.active {
    background-color: rgb(255, 228, 179);
    border: 2px solid rgb(255, 219, 153);
}

.bottom-links {
    margin-top: auto;
}