:root {
    --blue-34: rgb(63, 34, 236);
    --blue-85: rgb(66, 85, 255);
    --blue-123: rgb(0, 123, 255);
    --blue-176: rgb(28, 176, 246);

    --grey-175: rgb(175, 175, 175);
    --grey-75: rgb(75, 75, 75);

    --fs-17: 17px;
}

.text--blue-123 {
    color: var(--blue-123);
}

.text--blue-176 {
    color: var(--blue-176);
}

.text--blue-85 {
    color: var(--blue-85);
}

.text--blue-34 {
    color: var(--blue-34);
}

.text--grey-175 {
    color: var(--grey-175);
}

.text--grey-75 {
    color: var(--grey-75);
}

.text--fs-17 {
    font-size: var(--fs-17);
}

.fs-17 {
    font-size: var(--fs-17);
}

.text--fs-19 {
    font-size: var(--fs-19);
}

.flex-grow {
    flex: 1;
    width: 100%;
}

.flex-col {
    flex-direction: column;
}

.space-between {
    justify-content: space-between;
}

.gap-8 {
    gap: 8px;
}

.gap-10 {
    gap: 10px;
}

.gap-12 {
    gap: 12px;
}

.gap-16 {
    gap: 16px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-50 {
    margin-bottom: 50px;
}

.mb-25 {
    margin-bottom: 25px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-25 {
    margin-top: 25px;
}

.mr-10 {
    margin-right: 10px;
}

.mr-22 {
    margin-right: 22px;
}

.mt-50 {
    margin-top: 50px;
}

.h-25 {
    height: 25px;
}

.h-23 {
    height: 23px;
}

.h-60 {
    height: 60px;
}

.w-60 {
    width: 60px;
}

.max-width-500 {
    max-width: 500px;
}

.p-18 {
    padding: 18px;
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.flex-grow {
    flex: 1;
    width: 100%;
}

.fit-content {
    width: fit-content;
}

.flex-center-xy {
    align-items: center;
    justify-content: center;
}


.container--flex {
    display: flex;
}

.flex-align-center {
    align-items: center;
}